header {
    padding-block: 32px;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#profile {
    gap: 32px;
    display: flex;
    align-items: center;
}

#profile > div {
    max-width: 384px;
}

#profile img {
    width: 176px;
    height: 176px;
    object-fit: cover;
    border-radius: 50%;
}

#profile h1 {
    font: var(--text-lg);
    color: var(--text-color-primary);
    margin-bottom: 8px;
}

#profile p {
   font: var(--text-md); 
}

#info {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: auto;
}

#info li {
    display: flex;
    align-items: center;
    gap: 8px;
}

@media (width <= 45rem) {
    header .container {
        flex-direction: column;
    }

    #info {
        padding-top: 2rem;
        flex-direction: row;
    }
}


@media (width <= 33rem) {

    header .container {
        display: flex;
        flex-direction: column;
        align-items: initial;
        gap: 1.5rem;
    }

    #profile {
        display: flex;
        flex-direction: column;
        align-items: initial;

        & > img {
            width: 120px;
            height: 120px;
            margin-left: 1rem;
        }
    }
    
    #info {
        padding-top: 1rem;
        flex-direction: column;
        gap: .5rem;
    }
}
